
/**
 * HT Carousel Theme for reveal.js
 *
 * 
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
/* line 11, source/HTCarou.scss */
body {
  background: #111111;
  background-color: #111111;
}

#imagedata {
	clear:both;
	font-family:Verdana;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	font-size:1em;
	
}

/* line 15, source/HTCarou.scss */
.reveal {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee;
}

/* line 22, source/HTCarou.scss */
::selection {
  color: white;
  background: #e7ad52;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
/* line 35, source/HTCarou.scss */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 15px 0;
  color: #eeeeee;
  font-family: Helvetica, sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
}

/* line 44, source/HTCarou.scss */
.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
/* line 50, source/HTCarou.scss */
.reveal a:not(.image) {
  color: #9999FF;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

/* line 59, source/HTCarou.scss */
.reveal a:not(.image):hover {
  color: #9999FF;
  text-shadow: none;
  border: none;
}

/* line 64, source/HTCarou.scss */
.reveal .roll span:after {
  color: #fff;
  background: #d08a1d;
}

/*********************************************
 * IMAGES
 *********************************************/
/* line 71, source/HTCarou.scss */
.reveal section img {
  margin: 15px 0px 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 82, source/HTCarou.scss */
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e7ad52;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
/* line 91, source/HTCarou.scss */
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #CC99FF;
}

/* line 95, source/HTCarou.scss */
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #CC99FF;
}

/* line 99, source/HTCarou.scss */
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #CC99FF;
}

/* line 103, source/HTCarou.scss */
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #CC99FF;
}

/* line 106, source/HTCarou.scss */
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #CC66FF;
}

/* line 109, source/HTCarou.scss */
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #CC66FF;
}

/* line 112, source/HTCarou.scss */
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #CC66FF;
}

/* line 115, source/HTCarou.scss */
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #CC66FF;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
/* line 121, source/HTCarou.scss */
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

/* line 124, source/HTCarou.scss */
.reveal .progress span {
  background: #e7ad52;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
/* line 135, source/HTCarou.scss */
.reveal .slide-number {
  color: #9999FF;
}
